# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.ahead
pom.xml.releaseBackup
pom.xml.versionsCache
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/maven.config
.class
settings.xml

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.launch

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log

# Temp
*.swp
*.tmp
